.container {
    width: 300px;
    display: block;
}
p {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    padding: 20px;
    margin: 0;
}
p.first {
    border-top: 0;
}

p:hover {
    background-color: orange;
}